{% extends 'base.html.twig' %}

{% block title %}Gestion des modules{% endblock %}

{% block body %}

<h1>Gestion des modules</h1>
<section id="modules-list" class="py-5">

  <table class="table table-hover m-auto table-bordered">
    <thead>
      <tr>
        <th scope="col">Nom du module</th>
        <th scope="col">Catégorie</th>
        <th scope="col">Modifier</th>
      </tr>
    </thead>
    <tbody>
      {% for module in modulesList %}
        <tr class="table-light">
          <th scope="row">{{module.title}}</th>
          <td>{{module.category.title}}</td>
          <td class="text-center">
            <a href="">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</section>

{% endblock %}