* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: unset;
}
a:hover {
  color: unset;
}

.blue-hover {
  transition: 0.15s ease-in-out;
}
.blue-hover:hover {
  color: #3498db;
}

header .navbar-collapse {
  flex-grow: 0.95;
}
header .navbar-nav {
  width: 50%;
  justify-content: space-between;
}

#formations-list .card {
  transition: 0.3s ease-in-out;
  width: 20em;
  max-width: 100%;
}
#formations-list .card:hover {
  transform: scale(1.05);
}

.fa-trash:hover {
  color: #e74c3c;
}

.btn-actions-container {
  border-top: 1px solid black;
}

.btn-action {
  width: 219px;
  transition: 0.25s;
  max-width: 100%;
}
.btn-action:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #2a2826;
  transform: translateY(-0.25em);
}

.btn-return {
  transition: 0.25s;
  width: 367px;
  max-width: 100%;
}
.btn-return:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #2a2826;
  transform: translateY(-0.25em);
}

.flash-notice {
  background-color: #e0685c;
  padding: 11px;
  border-radius: 10px;
  color: white;
  margin: auto;
  max-width: 480px;
}

.input-container {
  position: relative;
}
.input-container ul {
  margin: 0;
  list-style: none;
}
.input-container ul li {
  position: absolute;
  top: 65px;
  color: #e32410;
}

.alert-warning {
  width: 430px;
  border-radius: 10px;
  margin: auto;
  background-color: #fde1b6;
}

/* Categories */
#sessions-list .date-container {
  width: 350px;
  max-width: 100%;
  padding: 0.7em 0.3em 0.7em 2.75em;
  border-radius: 7px;
  color: white;
  margin: auto;
}
#sessions-list .btn-return {
  width: unset;
}
#sessions-list .card {
  width: 23em;
}

#detail-category ul li {
  font-size: 30px;
}

#interns-list table .birthdate-cell {
  width: 156px;
}
#interns-list table .age-cell {
  width: 65px;
}
#interns-list .btn-return {
  margin: auto;
}

#detail-intern .intern-record {
  width: 700px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#detail-intern .intern-record ul {
  padding: 30px;
}
#detail-intern .intern-record h3 {
  padding: 15px;
  border-bottom: 1px solid black;
  background-color: #e74c3c;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#add-intern form {
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 14px;
  max-width: 760px;
  border: #2c3e50 solid 1px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  padding: 50px;
}
#add-intern form select {
  max-width: 100%;
}
#add-intern form option {
  padding: 15px 0;
}
@media screen and (max-width: 992.5px) {
  #add-intern form option {
    overflow: auto;
  }
}

#detail-session .session-record {
  width: 900px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#detail-session .session-record ul {
  padding: 30px;
}
#detail-session .session-record h3 {
  padding: 15px;
  border-bottom: 1px solid black;
  background-color: #e74c3c;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#modules-list table {
  width: 800px;
  max-width: 100%;
}
#modules-list table thead th {
  background-color: white;
}
#modules-list .btn-return {
  margin: auto;
}/*# sourceMappingURL=style.css.map */